.App {
  text-align: center;
}

/* product-list */

.product-list--item{
  border: 1px solid #999;
  list-style: none;  
  padding: 0;
  width: 80%;

}

.product-list--image {

  width: 25%;
}



.App-link {
  color: #61dafb;
}
