#root {
  /* text  */
  --text-color: #444;
  --text-error-color: #red;
  --text-brand-color: #00ded8;
  --text-brand-dark-color: #004d4a;
  --title-light-color: #888;
  --default-border-color: #c7c7c7;
  
  /* colors */
  --black: #000;
  --white: #fff;
  --soft-grey: #fdfdfd;
  --dark-grey: #111;
  --background-brand-dark-color: #001d1c;
}
/* Basic Reset */
* {
  box-sizing: border-box;
}

p {
  margin: 5px;
}

.App {
  text-align: center;
  

}
.first-container {
  background-image: url('./custom-images/COUPLE.jpg');
  background-position-y: -154px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--background-brand-dark-color);
  height: 100vh;
  position: fixed;
  top: 0;
  top: 0;
  width: 100%;
}

.second-container {
  background: var(--background-brand-dark-color);
  margin-top: 200px;
  padding-top: 12px;
  position: relative;
  top: 110px;
  width: 100%;
}
/* product-list */
/* @media (min-width: 635px) {
  .produc-list--container {
    display: grid;
    grid-template-columns: minmax(240px, 1fr);      
      
    }
} */
@media (min-width: 768px) {
  .produc-list--list-container {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: minmax(240px, 360px)
                          repeat(auto-fill, 360px);
    margin: 0 auto;
  }
}
.product-list--link {
  display: block;
  color: inherit;
  margin-top: 24px;
  text-decoration: none;
  width: 80%;
}

.product-list--item{
  background: var(--black);
  border: 1px solid var(--default-border-color);
  border-radius: 10px;
  list-style: none;  
  margin: 10px 0;
  max-height: 240px;
  max-width: 360px;
  min-width: 260px;
  overflow: hidden;
  padding: 24px; 
}

.product-list--item-head {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  max-height: 80px;
}
.product-list--item-title {
  color: var(--text-brand-color);
}
.product-list-item--info-display {
  background: var(--soft-grey);
  border-radius: 10px;
  color: var(--text-brand-dark-color);
  height: 150px;
  text-align: left;
  margin-top: 66px;
  padding: 12px;
}

.product-list-item--info-display:hover {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: fadeInUp;
  animation-timing-function: ease;  
}

.product-list--image {
  width: 25%;
  min-width: 80px;
}
@media (min-width: 768px) {
  .produc-list--list-container {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: minmax(240px, 360px)
                          repeat(auto-fill, 360px);
    margin: 0 auto;
  }
}

/* Detail */
.detail-info--container {
  background: var(--soft-grey);
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
}
.detail-info--list-item {
  text-align: left;
  padding: 12px;
}
.detail-info--item {
  color: var(--text-brand-dark-color);
  list-style: none;
}
.detail-info--image {
  width: 40%;
}

/*  Header  */

.header-container {
  /* background-image: url('./custom-images/COUPLE.jpg');
  background-position-y: -154px;
  background-repeat: no-repeat;
  background-size: 100%; */
  height: 280px;
  padding: 24px;
  text-align: left;
  background-color: transparent;
}
.header-title {
  color: var(--text-brand-color);
}
/*  animations  */

/*Animate.css: https://daneden.github.io/animate.css/ */
@keyframes fadeInUp {
  from {
    margin-top: 66px ;
  }

  to {
    margin-top: 12px
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}